.calendar {
    overflow-y: scroll;
    max-height: 50dvh;
}

.calendar-item {
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

.sourceSelect {
    background-color: rgba(256,255,255,.2);
    border-radius: .25rem;
    border: solid 1px white;
    padding: .2rem 1rem;
}   

.sourceSelect option {
    background-color: rgba(256,255,255,.2);
    border: solid 1px white;
    padding: .2rem 1rem;
}