.calendar {
    overflow-y: scroll;
    max-height: 50dvh;
    position: relative;
}

.calendar-header {
    display: flex;
    flex-direction: column;
}

.calendar-source-select-wrapper {
    display: flex;
    margin-top: 1rem;
}

.calendar-source-select-wrapper > select {
    margin-right: .25rem;
}

.calendar-date-select-wrapper {
    align-self: center;
    margin-top: 1rem;
}

.calendar-item {
    backdrop-filter: blur(5px);
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendar-item:not(:last-child) {
    
    border-bottom: var(--border);
}