@import '/app/shared/variables.scss';

.dashboard-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & > * {
        width: 100%;
    }

    .dashboard-widgets-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;

        .calendar-card {
            grid-column: auto / span 4;
        }

        .tasks-card {
            grid-column: 2 / span 3;
            grid-row: auto / span 2;
        }

        .clock-card {
            grid-row: 1 / span 1;
        }
    
        .chat-card {
            grid-column: auto / span 1;
        }
    }
    
    .favorites-bar-card {
        .card-main-panel {
            padding: .5rem !important;
        }
    }
}

@media screen and (max-width: 1250px) {
    .dashboard-page .dashboard-widgets-grid {
        grid-template-columns: 1fr 1fr 1fr;
        .tasks-card {
            grid-column: auto / span 3;
            grid-row: 1 / span 1;
        }

        .weather-card {
            grid-column: auto / span 2;
            grid-row: 2 / span 1;
        }

        .clock-card {
            grid-row: 2 / span 1;
        }

        .calendar-card {
            grid-column: auto / span 3;
        }

        .chat-card {
            grid-column: auto / span 3;
        }
    }
}

@media screen and (max-width: 800px) {
    .dashboard-page .dashboard-widgets-grid {
        grid-template-columns: 1fr 1fr;

        .card {
            grid-column: 1 / span 2;
        }

        .weather-card {
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        .clock-card {
            grid-column: 1 / span 1;
        }
    }
}

@media screen and (max-width: 600px) {
    .dashboard-page .dashboard-widgets-grid {
        grid-template-columns: 1fr;

        .card {
            grid-column: 1 / span 1;
            grid-row: auto
        }
    }
}