@import '/app/shared/variables.scss';

.card {
    border: $border;
    border-radius: $card-border-radius;
    background-color: $background-lighter;
    position: relative;
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h2 {
            font-weight: 500 !important;
        }
    }

    .card-content {
        padding: 1.5rem;
    }
}

