@import '/app/shared/variables.scss';

.favorites-bar {
    display: flex;
    justify-content: center;
    
    .favorite-item {
        all: unset;
    }

    .favorite-item:not(:last-child) {
        margin-left: .2rem;
    }
}

.new-favorite-form {
    h3 {
        margin: 0;
        width: 100%;
    }
}

.edit-favorite-form {
    .buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: .5rem;
        button {
            font-size: 1rem;
        }
    } 

}
