.favorites-bar {
    background: var(--card-background);
    display: flex;
    width: fit-content;
    border-radius: .5rem;
    padding: .75rem;
}

.favorite-item {
    display: flex;
    align-items: center;
    width: fit-content;
}

.favorite-item > img {
    width: 22px;
    height: auto;
}

.favorite-item:not(:last-child) {
    margin-right: .5rem;
}

.favorites-bar .actions-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
