@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(255, 255, 255);
  --background: rgb(0, 0, 0);
  --background-lighter: rgb(25, 25, 25);
  
  --card-background: rgba(250, 250, 250, 0.06);
  --card-foreground: linear-gradient(
    45deg,
    rgba(82, 48, 121, 0.05),
    rgba(0, 0, 0, 0.1)
  );
  
  --separator-rgb: 60, 60, 60;
  --text-lighter-rgb: 150, 150, 150;
  --background-navbar-rgb: 50, 50, 50;
  --background-navbar: rgba(250, 250, 250, 0.02);

  --modal-background: rgba(25,25,25,0.9);
  --modal-border: solid 1px rgba(255,255,255,0.2);  

  --accent1: rgb(217, 80, 235);
}

h1 {
  font-size: 24px;
  color: var(--accent1);
  font-weight: bolder;
}

@keyframes gradient-motion {
  0% {
      background-position: 0% 0%;
  } 50% {
    background-position: 100% 100%;
  }100% {
    background-position: 0% 0%;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
  min-height: 100dvh; /* I LOVE DVH I WILL GIVE MY LIFE FOR DVH AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH */
  color: var(--foreground);
  background-image: url('../public/assets/4K-background-gadient-image.png');
  background-color: var(--background);
  background-size: 200% 200%;
  animation: gradient-motion 8s ease-in-out infinite;
}

.task-item {
  border-bottom: 1px solid rgb(var(--separator-rgb));
  border-top: 1px solid rgb(var(--separator-rgb));
}
.card {
  background-color: var(--card-background);
  /* width: fit-content; */
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: all ease 0.3s;
  transition: box-shadow ease-in 0.4s;
}
.card-content {
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.15);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: var(--card-foreground);
}
.card:hover {
  box-shadow: none;
}
.card > h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.calendar {
  height: 100%;
}
.navbar {
  transition: all 0.3s ease;
  border-bottom: solid 1px rgba(0,0,0,0.4);
}
.tab {
  border-bottom-right-radius: 0.5rem;
  transition: all ease 0.3s;
}
.tab:hover {
  scale: 1.03;
}

.MuiBackdrop-root {
  background-color: transparent !important;
}

.right-section {
  max-height: 100dvh; 
}

.bottom-section {
  margin-top: auto;
}
.left-section-card {
  width: 365px !important;
}
