@import '/app/shared/variables.scss';

.dashboard-page {
    max-width: 78rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &>* {
        width: 100%;
    }

    .dashboard-widgets-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    
        .card {
            border: $border;
        }
    
        .tasks-card {
            grid-column: 1 / span 2;
        }
    
        .calendar-card {
            grid-column: 1 / span 2;
        }
    
        .chat-card {
            grid-column: 3 / span 2;
        }
    }
}