@import '/app/shared/variables.scss';

.dashboard-page {
    max-width: 78rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &>* {
        width: 100%;
    }

    .dashboard-widgets-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    

        .tasks-card {
            grid-column: auto / span 2;
        }
    
        .calendar-card {
            grid-column: auto / span 2;
        }
    
        .chat-card {
            grid-column: auto / span 2;
        }
    }
    
    .favorites-bar-card {
        .card-content {
            padding: .5rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .dashboard-page .dashboard-widgets-grid {
        grid-template-columns: 1fr 1fr 1fr;
        .tasks-card {
            grid-column: auto / span 2;
        }

        .calendar-card {
            grid-column: auto / span 2;
        }
    }
}

@media screen and (max-width: 1000px) {
    .dashboard-page .dashboard-widgets-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .dashboard-page .dashboard-widgets-grid {
        grid-template-columns: 1fr;
        
        .card {
            grid-column: 1 / 1;
        
        }
    }
}